@use "./variables" as vars;

// Light Mode
@mixin light-theme {
  --background-color: #{vars.$light-background};
  --text-color: #{vars.$light-text};

  --card-body-background: #{vars.$light-card-body-background};
  --card-body-text: #{vars.$light-card-body-text};
  --card-header-background: #{vars.$light-card-header-background};
  --card-header-text: #{vars.$light-card-header-text};

  --button-background: #{vars.$light-button-background};
  --button-hover-background: #{vars.$light-button-hover-background};
  --button-text: #{vars.$light-button-text};
  --button-hover-text: #{vars.$light-button-hover-text};

  --header-background: #{vars.$light-header-background};
  --header-text: #{vars.$light-header-text};

  --footer-background: #{vars.$light-footer-background};
  --footer-text: #{vars.$light-footer-text};

  --navbar-color: #{vars.$navbar-light-color};
  --navbar-background: #{vars.$navbar-light-background};
  --navbar-hover-color: #{vars.$navbar-light-hover-color};
  --navbar-active-color: #{vars.$navbar-light-active-color};
  --navbar-icon-color: #{vars.$navbar-light-icon-color};
  --navbar-toggler-icon-bg: #{vars.$navbar-light-toggler-icon-bg};
  --navbar-toggler-icon-color: #{vars.$navbar-light-icon-color};
  --navbar-toggler-border-color: #{vars.$navbar-light-toggler-border-color};
}

// Dark Mode
@mixin dark-theme {
  --background-color: #{vars.$dark-background};
  --text-color: #{vars.$dark-text};

  --card-body-background: #{vars.$dark-card-body-background};
  --card-body-text: #{vars.$dark-card-body-text};
  --card-header-background: #{vars.$dark-card-header-background};
  --card-header-text: #{vars.$dark-card-header-text};

  --button-background: #{vars.$dark-button-background};
  --button-hover-background: #{vars.$dark-button-hover-background};
  --button-text: #{vars.$dark-button-text};
  --button-hover-text: #{vars.$dark-button-hover-text};

  --header-background: #{vars.$dark-header-background};
  --header-text: #{vars.$dark-header-text};

  --footer-background: #{vars.$dark-footer-background};
  --footer-text: #{vars.$dark-footer-text};

  --navbar-color: #{vars.$navbar-dark-color};
  --navbar-background: #{vars.$navbar-dark-background};
  --navbar-hover-color: #{vars.$navbar-dark-hover-color};
  --navbar-active-color: #{vars.$navbar-dark-active-color};
  --navbar-icon-color: #{vars.$navbar-dark-icon-color};
  --navbar-toggler-icon-bg: #{vars.$navbar-dark-toggler-icon-bg};
  --navbar-toggler-icon-color: #{vars.$navbar-dark-icon-color};
  --navbar-toggler-border-color: #{vars.$navbar-dark-toggler-border-color};
}
