.carousel-control-prev,
.carousel-control-next {
  top: 0.7rem;
  bottom: auto;
}

.carousel-indicators {
  top: 2.1rem;
}

.about-card {
  .card-header {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--card-header-background);
    color: var(--card-header-text);
  }

  .card-body {
    padding: 0;
    background-color: var(--card-body-background);
    color: var(--card-body-text);
  }

  .card-text {
    padding: 5rem;
    text-align: center;
  }

  .about-item {
    margin-bottom: 2rem;
    padding: 0.5rem;
  }
}
