.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header-img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #171717;
}
