@use "../node_modules/bootstrap/scss/bootstrap" as *;

@use "./styles/mixins" as *;

// Light Mode Standard
:root {
  @include light-theme;
}

// Dark Mode
[data-theme="dark"] {
  @include dark-theme;
}

// Globale Stile
body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

html,
* {
  box-sizing: border-box;
}

.content {
  min-height: 70vh;
  margin: 2rem 0;
  padding-bottom: 3rem;
}

.header-img {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.header-img img {
  width: 100%;
  height: auto;
  display: block;
}

.header-title {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  padding: 10px 0;
  margin: 0;
  box-sizing: border-box;
}
